<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basePage.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/buttons.css}" rel="stylesheet" />
    <link th:href="@{/styles/input.css}" rel="stylesheet" />

</head>
<body>
<div class="header">
    <div class="header-right" layout:fragment="navigation">
        <a th:href="@{/list}">Back to list</a>
        <a th:href="@{/home}">Home</a>
    </div>
</div>
<div layout:fragment="content">
    <form th:action = "@{/list/create/new}"  th:object="${invoice}" method="post">
        <label><b>Buyer</b></label>
        <div>
            <label>
                <select th:field="*{userName}">
                    <option th:each="client : ${clients}" th:value="${client.userName}" th:text="${client.name}">
                    </option>
                </select>
            </label>
        </div>
        <label for="comment"><b>Comment</b></label>
        <div>
            <input th:field = "*{comment}" type="text"   placeholder="Enter Comment" id="comment" required>
        </div>
        <label for="iname"><b>Item</b></label>
        <div>
            <input th:field = "*{itemName}" type="text"  placeholder="Enter Item Name" id="iname" required>
        </div>
        <label for="idate"><b>Issue Date</b></label>
        <div>
            <input th:field = "*{issueDate}" type="date"  placeholder="Enter Issue Date" id="idate" required>
        </div>
        <label for="ddate"><b>Due Date</b></label>
        <div>
            <input th:field = "*{dueDate}" type="date"  placeholder="Enter Due Date" id="ddate" required>
        </div>
        <label for="price"><b>Cost</b></label>
        <div>
            <input th:field = "*{price}" type="number"  placeholder="Enter Price" id="price" required>
        </div>
        <input th:field="*{isNew}" th:value="true" hidden/>

        <button class="button" type="submit">
            Create
        </button>
    </form>
</div>
</body>
</html>