<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/buttons.css}" rel="stylesheet" />
    <link th:href="@{/styles/input.css}" rel="stylesheet" />

</head>
<body>
<div class="header">
    <strong><span class="logo">Creation Page</span></strong>
    <div class="header-right">
        <a th:href="@{/list}">Back to list</a>
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>

<form th:action = "@{/list/create/new}"  th:object="${invoice}" method="post">
    <label for="bname"><b>buyer Name</b></label>
    <div>
        <input th:field = "*{buyerName}" type="text"  placeholder="Enter Buyer Name" id="bname" required>
    </div>

    <label for="comment"><b>Comment</b></label>
    <div>
        <input th:field = "*{comment}" type="text"  placeholder="Enter Comment" id="comment" required>
    </div>
    <label for="iname"><b>Item</b></label>
    <div>
        <input th:field = "*{itemName}" type="text"  placeholder="Enter Item Name" id="iname" required>
    </div>
    <label for="idate"><b>Issue Date</b></label>
    <div>
        <input th:field = "*{issueDate}" type="date"  placeholder="Enter Issue Date" id="idate" required>
    </div>
    <label for="ddate"><b>Due Date</b></label>
    <div>
        <input th:field = "*{dueDate}" type="date"  placeholder="Enter Due Date" id="ddate" required>
    </div>
    <label for="price"><b>Cost</b></label>
    <div>
        <input th:field = "*{price}" type="number"  placeholder="Enter Price" id="price" required>
    </div>

    <button class="button" type="submit">
        Create
    </button>
</form>
</body>
</html>