<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basePage.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="header">
    <div class="header-right" layout:fragment="navigation">
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">Admin site</a>
        <a th:href="@{/list}">Invoice List</a>
    </div>
</div>
<div layout:fragment="content">
    <table style="width:100%">
        <tbody>
           <tr>
               <td style="width:50%">
                   <span>
                        <div>
                            <h3>User Data:</h3>
                        </div>
                        <strong><span>Name:</span></strong>
                        <span th:text="${object.name}"></span>
                        <div>
                            <strong><span>Last Login:</span></strong>
                            <span th:text="${object.lastLogin}"></span>
                        </div>
                        <strong><span>Role/Roles:</span></strong>
                        <span th:each="role : ${object.roles}" th:text="|${role.name},  |"></span>
                        <div>
                            <strong><span>Your Bookkeeper:</span></strong>
                            <span th:text="${object.booker_name}"></span>
                        </div>
                       <div>
                            <strong><span>New Invoicies:</span></strong>
                            <span id="count" th:text="${newInvoiceCount}"></span>
                        </div>
                   </span>
               </td>
           </tr>
        </tbody>
    </table>
    <script th:inline="javascript">

        $(document).ready(function(){
            setInterval(refreshNewCount, 1000);
        });

        function refreshNewCount(){
            $.ajax({
                url: '/refreshCount',
                type: 'GET',
                data:{
                    [[${_csrf.parameterName}]] : [[${_csrf.token}]]
                },
                success: function (data){
                    document.getElementById('count').textContent=data;
                }
            })
        }
    </script>
</div>

</body>
</html>