<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basePage.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="header">
    <div class="header-right" layout:fragment="navigation">
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">Admin site</a>
        <a th:href="@{/list}">Invoice List</a>
    </div>
</div>
<div layout:fragment="content">
    <table style="width:100%">
        <tbody>
           <tr>
               <td style="width:50%">
                   <span>
                        <div>
                            <h3>User Data:</h3>
                        </div>
                        <strong><span>Name:</span></strong>
                        <span th:text="${object.name}"></span>
                        <div>
                            <strong><span>Last Login:</span></strong>
                            <span th:text="${object.lastLogin}"></span>
                        </div>
                        <strong><span>Role/Roles:</span></strong>
                        <span th:each="role : ${object.roles}" th:text="|${role.name},  |"></span>
                   </span>
               </td>
           </tr>
        </tbody>
    </table>
</div>

</body>
</html>