<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>

    </style>
</head>
<body>
<h1 >Home</h1>

<div th:text="${object.userName}"></div>
<div th:text="${object.name}"></div>
<div th:text="${object.lastLogin}"></div>
<tr th:each="role : ${object.roles}">
    <td th:text="${role.name}"></td>
</tr>
<div >
    <a href="#" th:href="@{/list}">Invoice List</a>
</div>


<div sec:authorize="hasAuthority('ADMIN')">
    <a href="#" th:href="@{/admin}">Admin site</a>
</div>




<div>
  <a href="#" th:href="@{/logout}">Log Out</a>
</div>

</body>
</html>