<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basePage.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/styles/tableBorderAndHover.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/list.js}"></script>

</head>
<body>
<div class="header">
    <div class="header-right" layout:fragment="navigation">
        <a sec:authorize="hasAnyAuthority('BOOK','ADMIN')" th:href="@{/list/create}">Create+</a>
        <a th:href="@{/home}">Home</a>
    </div>
</div>
<div layout:fragment="content">
    <table style="margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <th>Buyer Name</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Comment</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr th:each="invoice : ${invoices}" th:attr="onclick=|viewInvoice('${invoice.id}')|" >
                <div>

                        <td th:text="${invoice.buyerName}"></td>
                        <!--td th:text="${invoice.user.name}"></td-->
                        <td th:text="${invoice.issueDate}"></td>
                        <td th:text="${invoice.dueDate}"></td>
                        <td th:text="${invoice.comment}"></td>
                        <td th:text="${invoice.price}"></td>

                <td>
                    <form th:action="@{|/list/delete/${invoice.id}|}" method="get">
                        <button type="submit" class="button">
                            X
                        </button>
                    </form>
                </td>
                </div>

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>