<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basePage.html}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/logAndRegSite.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/login.js}"></script>

</head>
<body>

<div class="header">
    <div layout:fragment="pageName">
        <strong><span  class="logo">Login</span></strong>
    </div>
    <div class="header-right" layout:fragment="navigation">
    </div>
    <div class="header-right" layout:fragment="baseNavigation">
        <a th:href="@{/auth/registration}">Sign up</a>
    </div>
</div>

<div class="center" layout:fragment="content">
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/auth/login}" method="post">
        <label  for="username">Username</label>:
        <div>
        <input th:onkeyup="success()" type="text" id="username" name="username" autofocus="autofocus" placeholder="Enter Username" /> <br />
        </div>
        <label for="password">Password</label>:
        <div>
        <input th:onkeyup="success()" type="password" id="password" name="password" placeholder="Enter Password"/> <br />
        </div>
        <input class="button" id="button" type="submit" value="Login" disabled/>
    </form>
</div>
</body>

</html>