<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/buttons.css}" rel="stylesheet" />
    <link th:href="@{/styles/logAndRegSite.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/login.js}"></script>

</head>
<body>

<div class="header">
    <strong><span  class="logo">Login</span></strong>
    <div class="header-right">
        <a th:href="@{/auth/registration}">Sign in</a>
    </div>
</div>

<div class="center">
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/auth/login}" method="post">
        <label  for="username">Username</label>:
        <div>
        <input th:onkeyup="success()" type="text" id="username" name="username" autofocus="autofocus" placeholder="Enter Username" /> <br />
        </div>
        <label for="password">Password</label>:
        <div>
        <input th:onkeyup="success()" type="password" id="password" name="password" placeholder="Enter Password"/> <br />
        </div>
        <input class="button" id="button" type="submit" value="Login" disabled/>
    </form>
</div>
</body>


</body>
</html>