<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!---->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="#" th:href="@{/logout}">Log Out</a>

<div sec:authorize="isAuthenticated()">BOB</div>
<div sec:authorize="${hasRole('ADMIN')}">Faszomat</div>
<h1>azt a kurva</h1>
<div sec:authorize="hasAuthority('ADMIN')">Faszomat</div>
<div sec:authentication="name">
</div>
<h1>a</h1>
<div sec:authorize="hasRole('ROLE_USER')">
    This will only be displayed if authenticated user has role user.
</div>

</body>
</html>