.header {
    overflow: hidden;
    background-color: #c9cbd2;
    padding: 10px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #68a2d7;
    margin: 4px;
}

.header span {
    float: left;
    color: black;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;

    display: flex;
    align-items: center;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ccd2ff;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;

    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-logout{
    float: right;
}

#logoutBtn{
    background-color: brown;
    color: whitesmoke;
}

#logoutBtn:hover{
    background-color: red;
    color: whitesmoke;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}